.btn-primary {
    background-color: $colorterciary!important;
    border-color: $colorterciary!important;
    font-size: 2rem!important;
    font-weight: 500!important;
    -webkit-box-shadow: 0px 3px 0px 0px $colorsombra;
    -moz-box-shadow: 0px 3px 0px 0px $colorsombra;
    box-shadow: 0px 3px 0px 0px $colorsombra;
}
